@import '_settings.scss';

// --------------------------------
// 全体構造
// --------------------------------

body {
  font-family: "Noto Sans JP", "Comfortaa", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  background-image: url(../img/bg-body.png);
  color: #4A3E32;
  background-color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.9;
  min-width: 1000px;
}

a {
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    transition: all 0.5s;
  }
  }


  // h2見出しの共通部分調整
  h2.heading {
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
  }

// トップに戻る
  .back-top {
    z-index: 1;
    position: fixed;
    bottom: 7%;
    right: 4%;

    img {
      width: 20px;
      
    }
   }

  //  ハンバーガーメニューを消す

  .hamburger-button {
    display: none;
  }
 
 

// --------------------------------
// ヘッダー
// --------------------------------

#home .top-view{
  overflow: hidden;
  background-color: #FCF9F3;
  background-image: url(../image/top-logo.png);
  background-repeat: no-repeat;
  background-position: center center;                                      
 height:100vh;  
//  画面垂直方向に広げる
}

header {
  margin: 100px 0 0 100px;
}

header li {
  margin-bottom: 15px;
  font-size: 15px;
}


// トップページここから----------------

// --------------------------------
// メインイメージ
// --------------------------------

.main-story {
  // ３コンテンツの全体的にパターン背景を入れている
 background-image: url(../image/bg-body.png);
 background-size: auto;
 background-position:50% 100%;
}

.main-content {
  background-color: #F7F0E5;
  padding: 150px 0 100px 0;
  text-align: center;
  
  .base {
    width: auto;
  }

  img {
    // タルトのサイズ
    max-width: fit-content;
    margin: 0 auto;
  }

.slideshow {
  padding: 50px;
  // background-color: red;
  background-image: url(../image/top-main-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  // タルトの位置調整

img {
  margin-top: 50px;
}


}


// スライドショーのドロップシャドウなどを消す調整
.bx-wrapper {
 
  box-shadow: none;
  border: none;
  left: 0;
  background-color: transparent;
  margin: 0 auto;
 }


p {
  margin: 130px 0 0 0;
}
}

// --------------------------------
// ストーリー
// --------------------------------

// ---------------------ウェーブの調整
.custom-shape-divider-top-1659331879 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1659331964 {
  z-index: 1;
  position: relative;
  top: -80px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1659331964 svg {
  position: relative;
  display: block;
  width: calc(216% + 1.3px);
  height: 200px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1659331964 .shape-fill {
  fill: #F7F0E5;
}
// ---------------------ウェーブの調整ここまで

.story {  
  padding: 80px 0 130px;
  margin: 0 auto;


.story-content {
  // 文章と画像を横並び/innerの幅を1000pxで指定
  @include row();
  @include wrapper1000();
  justify-content: center;
  column-gap: 50px;

  p {
    margin-bottom: 45px;
  }

  img {
    // 店舗画像の幅を制限
    width: 400px;
    border-radius: 20px;
  }
}
}

// --------------------------------
// ニュース
// --------------------------------
.news {   
 background-image:url(../image/top-news-wave.svg);
 background-repeat: no-repeat;
 background-size: cover;
 padding: 150px 0 150px;

 a{

 &:hover {
  opacity: 1;
}
}

  h2 {
    color: #fff;
    letter-spacing: 0.13em;
  }

  .news-box {
    position: relative;
    @include wrapper1000;
 
  
    .news-box-inner {
   @include row();
    // テキストの位置調整
    justify-content: flex-start;
    background-color: #fff;
    height: 180px;
    border-radius: 18px;
    padding: 15px;
    margin-bottom: 10px;

    }


    // 矢印右アイコン
    i {
      position: absolute;
      top: 80px;
      right: 20px;
      color: #A88C87;

      &:hover {
        opacity: 0.1;
        transition: all 0.8s;
      }

    }
  }
  
  img {
    // 画像の幅を指定
    width: 140px;
    margin-right: 20px;
  }

}

// --------------------------------
// アクセス
// --------------------------------

.access-footer {
background-color: #FFFBF5;
}

.access {
  padding: 150px 0 0 0px;
  

  .access-content {
    @include row();
  }

  .left {
    // 地図自体を100％にする
    width:100%;
    height: 500px;
    margin-top: 140px;
  iframe {
  // 地図の色味を調整
  filter: grayscale(0.5);
// 地図自体を100％にする
  width: 100%;
  }
}

  .right {
    height: 500px;
    // 配置の順番を調整
    z-index: 1;
    margin-left: -150px;


h2 {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 0.06em;
}

    background-color: #fff;
    display: inline-block;
    padding: 100px 100px 130px 50px;
    width: 410px;
  }
}

// --------------------------------
// フッター
// --------------------------------
footer {
  padding: 150px 0 40px 0;
text-align: center;

.footer-logo {

  &:hover {
    opacity: 1;
    
  }
}

p {
  font-size: 13px;
  small {
    font-size: 12px
  }
}
.footer-nav  {

  ul{
  @include row();
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 40px;
}

li{
  font-size: 14px;
}
}
}

// メニューのフッターの色を変更
#menu footer {
  background-color :#FCF9F3;
}


// トップページここまで----------------
// // ここから2ページめメニューページ
// --------------------------------
// ピックアップメニュー
// --------------------------------
#menu header {
  margin: 100px 0 0 100px;
  
}

#menu header li {
  margin-bottom: 15px;
  font-size: 15px;
  
}

#menu .page {
  // marginがなくなる問題を解決
  overflow: hidden;
  background-image: url(../image/menu-bg.png);

}

.summer {
  @include wrapper1000();

  h2 {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  margin: -150px 0 150px 0;
  // タイトルの装飾の調整
  background-image: url(../image/menu-title-decoration.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  background-position: center center;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px
}

.summer-content {

.pick-up-box {
  @include row();
  column-gap: 30px;
  align-items: center;
  // 横並びで個数を固定して折り返すため100％
  width: 100%;
  margin-bottom: 100px;


}
  }
}
// --------------------------------
// フードメニュー
// --------------------------------

.food {
  
  margin-top: 100px;
// ウェーブ背景の調整
background-image: url(../image/menu-bg-wave.svg);
background-repeat: no-repeat;
background-size: cover;


  h2 {
    text-align: center;
    font-size: 40px;
    margin: 100px 0 100px 0;
    // フードタイトルの装飾の調整
    background-image: url(../image/food-atention.svg);
    background-repeat: no-repeat;
    background-position: 63% 15%;
    background-size: auto;
  
  }

.food-content {
  padding-top: 100px;
  @include wrapper1000();
  background-image: url(../image/food-ilust.svg);
  background-repeat: no-repeat;
}

.food-list {
  position: relative;
  @include row();
  flex-wrap: wrap;
  row-gap: 70px;

  .item{
    text-align: center;

    h3 {
      font-size: 20px;
      margin-top: 30px;
    }
  }

  img {
    border-radius: 10px;
  }
}

// フードの装飾
.spoon {
 position: absolute;
 top:-60px;
 left: 600px;
}

.knife {
position: absolute;
bottom: 30px;
left: 250px;
}

.fork {
  position: absolute;
  bottom: -5px;
  right: 240px;

}


}


// --------------------------------
// ドリンクメニュー
// --------------------------------
.drink {
  padding-top: 150px;
  background-color: #FCF9F3;

  h2 {
    @include wrapper1000();
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
// ドリンクタイトルの装飾
    background-image: url(../image/menu-drink-decoration.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: auto;
    height: 30px;
    margin-bottom: 0px;
    padding: 70px;
// 文字をセンターにしている
    @include center();
  }

  .drink-menu {
 @include wrapper1000();
 column-gap: 250px;
 row-gap: 70px;

  // 表の役目と３カラムにする機能
  display: grid;
  grid-template-columns: repeat(3, max-content);
  border-top: 1px solid #4A3E33;
  padding-top: 80px;
  }
}


// ここから３ページめ
// --------------------------------
// コンタクトフォーム
// --------------------------------
#contact {
background-color: #F7F0E5;


.top-view{
  margin-top: -50px;
overflow: hidden;
background-image: url(../image/top-logo.png);
background-size: auto;
background-repeat: no-repeat;
background-position: center center;                                      
height:100vh;  

//  画面垂直方向に広げる
}


header {
  margin: 150px 0 0 100px;
}

header li {
  margin-bottom: 15px;
  font-size: 15px;
}


// --------------------------------
//フォーム
// --------------------------------
.contact-box {
  margin-top: -70px;
@include center();
//  ウエーブ背景の調整
// padding: 300px;
  background-image: url(../image/contact-bg-wave2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  background-position: top center;
}


.contact {
  padding: 15px;
  h2 {
    font-size: 40px;
    margin: 130px 0 60px 0;
  }

  p {
    margin-bottom: 80px;
  }

 

  .form-item {
    margin-bottom: 30px;
    display: flex;
    justify-content:space-between;
    overflow: hidden;

    
    label {
      margin-right: 30px;
      .kome {
        font-size: 13px;
      }
    }

    input {
      width: 620px;
      border: 1px #C4B6B6 solid;
      border-radius: 3px;
      
    }

    textarea{
      width: 620px;
      height: 300px;
      font-size: 15px;
      border: 1px #C4B6B6 solid;
      border-radius: 3px;
     
      // 薄い文字の調整
      &::placeholder {
        color: #C6BAB8;
        font-family: Noto sans JP;
        font-size: 13px;
      }
    }
  }

  // 送信ボタンの調整
  input[type="submit"]{
  background: #4D2119;
  border: none;
  color: white;
  font-size:20px;
  letter-spacing: 0.13em;
  width: 300px;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 30px;
  font-family: Noto sans JP;
  font-size   : 100%;
}


  }
}

button, input, select, textarea {
  font-family : inherit;
  font-size : 100%;
  }


// --------------------------------
// コンタクト/フッター
// --------------------------------
#contact footer {
  background-color: #FCF9F3;
}



